name: CI

on:
  pull_request:
    paths-ignore:
    - '**.rst'
    - '**.txt'
    - '**.texi'
  push:
    paths-ignore:
    - '**.txt'
    - '**.rst'
    - '**.texi'
    branches-ignore:
    - 'master'
    - 'main'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        emacs_version: [29.2]
        include:
          - os: macos-12
            emacs_version: 29.2
    steps:
    - uses: actions/checkout@v4

    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/cache@v4
      id: cache-cask-packages
      with:
        path: .cask
        key: cache-cask-packages-000

    - uses: actions/cache@v4
      id: cache-cask-executable
      with:
        path: ~/.cask
        key: cache-cask-executable-000

    - uses: cask/setup-cask@master
      if: steps.cache-cask-executable.outputs.cache-hit != 'true'
      with:
          version: snapshot

    - name: paths
      run: |
        echo "$HOME/bin" >> $GITHUB_PATH
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo "$HOME/.cask/bin" >> $GITHUB_PATH
        echo "LD_LIBRARY_PATH=$HOME/.local/lib" >> $GITHUB_ENV

    - name: apt-get
      if: startsWith(runner.os, 'Linux')
      run: |
        sudo apt-get -yq update
        DEBIAN_FRONTEND=noninteractive sudo apt-get -yq install gnutls-bin sharutils gnupg2 dirmngr libreadline-dev libcurl4-openssl-dev

    - name: gnupg
      if: startsWith(runner.os, 'macOS')
      run: |
        brew list gnupg &>/dev/null || HOMEBREW_NO_AUTO_UPDATE=1 brew install gnupg
        brew list gnu-tar &>/dev/null || HOMEBREW_NO_AUTO_UPDATE=1 brew install gnu-tar
        brew list texinfo &>/dev/null || HOMEBREW_NO_AUTO_UPDATE=1 brew install texinfo
        # github doc (unintelligible as of 20220428) suggests ">>" prepends to PATH.
        echo "`brew --prefix texinfo`/bin" >> $GITHUB_PATH

    - name: test
      run: |
        make test

    - name: test-install-without-cask
      run: |
        trap 'trap "" EXIT ; echo got here ; mv ~/.cask/bin/hide.cask ~/.cask/bin/cask' EXIT
        mv ~/.cask/bin/cask ~/.cask/bin/hide.cask
        ! which cask
        ELPASO_DEBUG=1 make install
